body {
    background-image: url(../images/pattern.png);
    text-align: center;
    font-family: Lato;
    color: #2c3e50;
}

h1,
h2,
h3,
h4,
.title,
.subtitle {
    text-transform: uppercase;
    font-family: 'Oswald';
    letter-spacing: 1px;
}

h1 {
    font-size: 2.5em;
}

.title {
    margin-bottom: 0;
    padding-bottom: 0;
}

.subtitle {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
}

h3 {
    margin-top: 5%;
}

p {
    line-height: 1.8em;
}

a {
    color: #28b297;
}

a,
.link__about,
.link__skill,
.link__contact{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Oswald';
    letter-spacing: 1px;
}

a:hover {
    color: #f1c416;
}

a#adobe:hover {
    color: #fa0f00;
}

a#figma:hover {
    color: #000000;
}

a#illustrator:hover {
    color: #ff9b00;
}

a#invision:hover {
    color: #ff3366;
}

a#sketch:hover {
    color: #fa6400;
}

a#html:hover {
    color: #e54d26;
}

a#css:hover {
    color: #0a75b8;
}

a#js:hover {
    color: #dab92c;
}

a#java:hover {
    color: #ff0000;
}

a#php:hover {
    color: #8892bf;
}

a#drupal:hover {
    color: #0579be;
}

a#wordpress:hover {
    color: #135e96;
}

a.link__text {
    font-family: Lato;
    font-weight: bold;
    text-transform: none;
    letter-spacing: 0px;
}

span {
    font-size: 10px;
}

strong {
    color: #28b297;
}

ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
}

ul li {
    margin: 0 2%;
}

nav ul {
    margin: 2%;
}

#active {
    color: black;
}

img.logo {
    height: 150px;
    margin: 3% 0 0 0;
}

img.foto {
    height: 200px;
}

img.icon {
    height: 75px;
}

i.fa, i.fab, i.far, i.fas {
    height: 20px;
}

.about,
.work,
.contact {
    margin: 3% 3%;
}

.about article {
    margin-top: 2%;
}

.skills__list {
    display: grid;
    grid-gap: 2%;
    margin: 5% 0;
}

.skills__list a {
    color: #2c3e50;
    cursor: default;
}

.work {
    display: grid;
    grid-template-columns: repeat(1, 100%);
}

.work p {
    margin-top: 2%;
}

.work__link {
    text-transform: lowercase;
}

.work .work__image {
    background-size: cover;
    border: 1px solid #D5D5D5;
    background-position: center center;
}

.contact__links ul {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 2%
}

.contact__links {
    margin-top: 5%;
}

.contact__links a:hover i {
    color: #f1c416;
}

@media (min-width: 320px) {
    #about,
    #contact {
        margin: 5% 3%;
    }

    .work {
        grid-gap: 2%;
    }
}

@media (max-width: 480px) {
    .skills__mobile {
        grid-template-columns: repeat(2, auto);
    }
}

@media (min-width: 480px) {
    .skills__mobile {
        grid-template-columns: repeat(3, auto);
    }

    .contact__links ul {
        display: grid;
        grid-template-columns: repeat(3, 100px);
    }
}

@media (max-width: 678px) {
    img.foto {
        margin-bottom: 5%;
        text-align: center;
    }

    .about__icon p {
        text-align: center;
    }

    .skills__design, .skills__code, .skills__cms {
        display: none;
    }

    .work .work__image {
        height: 200px;
    }
}

@media (min-width: 678px) {
    .icon__desktop {
        display: inline;
    }

    .about__icon p {
      text-align: left;
    }

    .about__icon {
        display: grid;
        align-items: center;
    }

    .about__icon__left {
        grid-template-columns: 20% 80%;
    }

    .skills__design, .skills__code {
        grid-template-columns: repeat(5, 100px);
    }

    .skills__cms {
        grid-template-columns: repeat(2, 100px);
    }

    .skills__mobile {
      display: none;
    }

    .work {
        grid-template-columns: repeat(2, 50%);
    }

    .work .work__image {
        height: 200px;
    }
}

@media (max-width: 800px) {
    .contact br {
        display: none;
    }
}

@media (min-width: 800px) {
    div.container {
        width: 80%;
        margin: 0 auto;
    }
    #about,
    #skills,
    #work,
    #contact {
        width: 80%;
        margin: 0 auto;
    }

    #about,
    #work {
        margin-bottom: 150px;
    }

    .contact__links ul {
        display: grid;
        grid-template-columns: repeat(5, 100px);
    }
}

@media (min-width: 1024px) {
    .work {
        grid-template-columns: repeat(3, 33.33%);
    }
}
